@using ASP.NET_Core_Identity_Demo.Models.Weather
@model Root

<style>
    form {
        display: table;
    }

    p {
        display: table-row;        
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>

<div class="vh-100 mt-3">
    <h1 class="display-2 mb-5 text-center">OpenWeatherMap API Demo</h1>

    <h2 class="display-6">Get the 5 Day Forecast</h2>
    <form asp-action="GetWeather" asp-controller="OpenWeatherMap" method="post">
        <p>
            <label asp-for="City.Name">City Name: </label> <span class="me-2"></span>
            <input asp-for="City.Name" class="dark-form" />
        </p>
        <p>
            <label asp-for="API_Key">API Key: </label> <span class="me-2"></span>
            <input asp-for="API_Key" class="dark-form" />
        </p>
        <br />
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

