@*
    DEFAULT TEMPLATE FOR ASP.NET CORE MVC
*@
@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if(User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {
        <h3>Welcome Admin!</h3>
    }
    else
    {
        <h3>Welcome!</h3>
    }
}*@



@*
    THREE.JS PLAYGROUND
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>3D Scene</title>
    <style>
        body {
            margin: 0px;
        }
    </style>
</head>
<body>
    <script src="~/Three_js/three.min.js"></script>
    <script>
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(
            75,
            window.innerWidth / window.innerHeight,
            0.1,
            1000
        );

        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        const geometry = new THREE.BoxGeometry(1, 1, 1);
        const material = new THREE.MeshBasicMaterial({ color: 0x1133d0 });
        const cube = new THREE.Mesh(geometry, material);
        scene.add(cube);

        camera.position.z = 5;

        function animate() {
            requestAnimationFrame(animate);

            cube.rotation.x += 0.01;
            cube.rotation.y += 0.01;

            renderer.render(scene, camera);
        }

        animate();
    </script>
</body>
</html>
