@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid border border-danger border-4 vh-100">
    <div class="row">
        <div class="col-md-3 border border-danger">
            <h1>item 1</h1>
            <h1>item 2</h1>
        </div>
        <div class="col-md-3">
            <h1>item 3</h1>
            <h1>item 4</h1>
        </div>
        <div class="col-md-3">
            <h1>item 5</h1>
            <h1>item 6</h1>
        </div>
        <div class="col-md-3">
            <h1>item 7</h1>
            <h1>item 8</h1>
        </div>
    </div>
</div>

